<!-- <ngb-datepicker class="rtl" #dp (ngModelChange)="change($event)" [(ngModel)]="model" [firstDayOfWeek]="7">
</ngb-datepicker> -->

  <div class="form-group">
    <div class="input-group">
      <input class="form-control" placeholder="yyyy-mm-dd" [(ngModel)]="model" (ngModelChange)="change($event)"  [firstDayOfWeek]="7" ngbDatepicker #dp="ngbDatepicker"/>
      <div class="input-group-append">
        <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button">Select Date</button>
      </div>
    </div>
  </div>